*{
    margin: 0;
    padding: 0;
    font-family:'Poppins';
    box-sizing: border-box;
}
body{
    background-color: #f0f2f5;
    color: #5f5f5f;
}

a{
    text-decoration: none;
    color: #5f5f5f;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 30px;
    margin-right: 15px;
    display: block;
}
.navbar-center ul li{
    display: inline-block;
    list-style: none;
}

.navbar-center ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    opacity: 0.9;
    position: relative;
}

.navbar-center ul li a img{
    width: 30px;
}


.nav-profile-img{
    width: 40px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0;
    top: 0;
    background-color: #41db51;
    position: absolute;
}

.navbar-center ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: blue;
    position: absolute;
    bottom: 1px;
    transition: width .3s;
}

.navbar-center ul li a:hover::after,
.navbar-center ul li a.active-link::after
{
    width: 100%;
}

.search-box{
    background-color: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.navbar-left{
    display: flex;
    align-items: center;
}

.search-box img{
    width: 14px;
}

.search-box input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 8px;
}


/* navbar-end */


.conatiner{
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* -----------left-sidebar------------  */

.left-sidebar{
    display: flex;
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.sidebar-profile-box{
    background-color: white; 
}

.sidebar-profile-info{
    padding: 0 25px;
}
.sidebar-profile-info img{
    width: 90px;
    border-radius: 50%;
    background-color: #fff;
    padding: 4px;
    margin-top: -45px;
}
.sidebar-profile-info h1{
    font-size: 20px;
    font-weight: 600px;
    color: #222;
}

.sidebar-profile-info h3{
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.sidebar-profile-info ul{
    list-style: none;
    margin: 20px 0;
}
.sidebar-profile-info ul li{
    width: 100%;
    margin: 5px 0;
    font-size: 13px;
}

.sidebar-profile-info ul li span{
    float: right;
    color: #045be6;
}
.sidebar-profile-link{
    display: flex;
    justify-items: center;
    border: 1px solid #ccc;
}
.sidebar-profile-link a{
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: 13px;
    border-left: 1px solid #ccc;
}

.sidebar-profile-link a:first-child{
    border-left: 0;
}

.sidebar-profile-link a img{
    width: 20px;
    margin-right: 10px;
}

.sidebar-activity{
    background-color: white;
    padding: 5px 25px;
    margin: 12px 0;
}
.sidebar-activity h3{
    color : #777;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0 10px;
}
.sidebar-activity a{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #888;
    margin: 3px 0;
}

.sidebar-activity a img{
    width: 20px;
}

.discover-more-link{
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
}
.discover-more-link a{
    display: block;
    margin: 10px 0;
}




/* <!-- ---------main-contant------------ --> */

.main-contant{
    flex-basis: 47%;
}

.create-post{
    background-color: white;
}

.create-post-input{
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}
.create-post-input img{
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.create-post-input textarea{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 8px;
}

::placeholder{
    font-weight:500;
}

.create-post-link{
    display: flex;
    align-items: flex-start;
}

.create-post-link li{
    outline: none;
    border-right: 1px solid #acc;
    border-top: 1px solid #acc;
    flex-basis: 25%;
    height: 40px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.create-post-link li img{
    width: 15px;
    margin-right: 5px;
}

.create-post-link li:last-child{
    background-color: #045be6;
    border-top: 0;
    border-right: 0;
}

.short-by{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.short-by hr{
    flex: 1;
    border: 0;
    height: 1px;
    background-color: #ccc;
}
.short-by p{
    font-size: 13px;
    padding-left: 5px;
}

.short-by p span{
    font-weight: 600;
    cursor: pointer;
}
.short-by p span img{
    width: 12px;
    margin-left: 3px;
}

.post{
    background-color: white;
    padding: 20px 25px 15px;
    margin: 5px 0 15px;
}
.post-author{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}


.post-author img{
    width: 35px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 10px;
}


.post-author h1{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.post-author small{
    display: block;
    margin-bottom: -2px;
}

.post p{
    font-size: 14px;
    margin-bottom: 15px;
}

.post-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

.post-stats div{
    display: flex;
    align-items: center;
}

.post-stats img{
    width: 15px;
    margin-right: -5px;
}

.liked-user{
    margin-left: 10px;
}

.post-activity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
}
.post-activity div{
    display: flex;
    align-items: center;
}

.post-activity-user-icon{
    width: 22px;
    border-radius: 50%;
}

.post-activity-arrow-icon{
    width: 12px;
    margin-left: 5px;
}

.post-activity-link img{
    width: 18px;
    margin-right: 8px;
}


/* -----------right-sidebar------------  */

.right-sidebar{
    flex-basis: 25%;
    align-self: flex-start;
    position: sticky;
    top: 73px;
}

.sidebar-news{
    background-color: white;
    padding: 10px 25px;
}

.info-icon{
    float: right;
    width: 15px;
    margin-top: 15px;
}
.sidebar-news h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 10px 0 30px;
}

.sidebar-news a{
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -5px;
}

.sidebar-news span{
    font-size: 12px;
}

.sidebar-news .read-more-link{
    color: #045be6;
    font-weight: 500;
    margin: 20px 10px;
}
.sidebar-ad{
    background-color: #fff;
    padding: 15px 25px;
    margin: 20px 0 10px;
    margin: 12px 0;
    font-size: 12px;
    text-align: center;
}

.sidebar-ad img{
    width: 60px;
    border-radius: 50%;
    margin: 4px;
}
.sidebar-ad small{
    float: right;
    font-weight: 500;
}
.sidebar-ad p{
    margin-top: 30px;
    margin-bottom: 10px;
}

.sidebar-ad b{
    display: block;
    font-weight: 500;
    margin-top: 10px;
}

.ad-link{
    display: inline-block;
    border: 1px solid #045be6;
    border-radius: 30px;
    padding: 5px 12px;
    font-weight: 500;
    margin: 2px auto 10px;
}

.sidebar-useful-link{
    padding: 15px 25px;
    text-align: center;

}

.sidebar-useful-link a{
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
}

.copyright-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
}
.copyright-msg img{
    width: 18px;
    margin-right: 4px;
}


/* .profile-drop-down */

.profile-menu-warp{
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.profile-menu-warp.open-menu{
    max-height: 400px;
}

.profile-menu{
    background-color: #fff;
    color: black;
    padding: 20px;
    margin: 10px;
    border-radius: 14px;
    box-shadow: 4px 2px 10px black;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info img{
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info h3{
    font-weight: 500;
    margin-bottom: -7px;

}

.user-info a{
    color: black;
    font-size: 12px;
}

.profile-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 15px 0 10px;
}

.profile-menu-link{
    display: flex;
    align-items: center;
    color: black;
    margin: 12px 0;
    font-size: 14px;
}

.profile-menu-link p{
    width: 100%;
}

.profile-menu-link img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}